<div class="row">
    <div class="col-md-6">
      <h3>Day 1: Fundamentals of Python Programming-Part 1</h3>
      <table class="table table-striped">
        <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> and Software Installation </td> </tr>
        <tr> <td>12:00</td>  <td>Software Setup </td> </tr>
        <tr> <td>13:30</td>  <td>Working with Variables </td> </tr>
        <tr> <td>14:00</td>  <td>Coding Excercise </td> </tr>
        <tr> <td>14:30</td>  <td>BREAK</td> </tr>
        <tr> <td>14:45</td>  <td>String Manipulation </td> </tr>
        <tr> <td>15:30</td>  <td>END </td> </tr>
      </table>
    </div>
  
  <div class="col-md-6">
    <h3>Day 2: Fundamentals of Python Programming-Part 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Homework Review</td> </tr>
      <tr> <td>9:30</td>  <td>Lists and Arrays</td> </tr>
      <tr> <td>10:30</td>  <td>Exercise</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:15</td>  <td>Control Structures </td> </tr>
      <tr> <td>12:00</td>  <td>Exercise</td> </tr>
      <tr> <td>12:15</td>  <td>LUNCH</td> </tr>
      <tr> <td>13:00</td>  <td>Python Dictionaries</td> </tr>
       <tr> <td>13:30</td>  <td> Function </td> </tr>
      <tr> <td>14:00</td>  <td>Coding Exercise</td> </tr>
      <tr> <td>14:30</td>  <td>BREAK</td> </tr>
      <tr> <td>14:45</td>  <td>File Handling</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6">
  <h3>Day 3: Intro to Data Science with Python</h3>
  <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Homework Review</td> </tr>
      <tr> <td>9:30</td>  <td>Manipulating Tabular Data Pt.1</td> </tr>
      <tr> <td>10:30</td>  <td>Exercise</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:15</td>  <td>Manipulating Tabular Data Pt.2</td> </tr>
      <tr> <td>12:00</td>  <td>LUNCH</td> </tr>
      <tr> <td>13:00</td>  <td>Data Visualization Pt.2</td> </tr>
      <tr> <td>14:00</td>  <td>Coding Exercise</td> </tr>
      <tr> <td>14:30</td>  <td>Data Visualization Pt.2</td> </tr>
      <tr> <td>15:00</td>  <td>BREAK</td> </tr>
      <tr> <td>15:15</td>  <td>Statistical Analysis</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>

    </table>
  </div>

<div class="col-md-6">
    <h3>Day 4: Unix Command-line Programming with Bash </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Homework Review</td> </tr>
      <tr> <td>9:30</td>  <td>Navigating Files and Folders</td> </tr>
      <tr> <td>10:30</td>  <td>Exercise</td> </tr>
      <tr> <td>11:00</td>  <td>BREAK</td> </tr>
      <tr> <td>11:15</td>  <td>Data Wrangling Pt.1</td> </tr>
      <tr> <td>12:00</td>  <td>Coding Excercise </td> </tr>
      <tr> <td>12:30</td>  <td>LUNCH</td> </tr>
      <tr> <td>13:30</td>  <td>Data Wrangling Pt.2</td> </tr>
      <tr> <td>14:00</td>  <td>Bash Scripting</td> </tr>
      <tr> <td>14:45</td>  <td>Coding Excercise</td> </tr>
      <tr> <td>15:00</td>  <td>BREAK</td> </tr>
      <tr> <td>15:30</td>  <td> Installing/Running Programs via Commnand-Line</td></tr> 
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
