<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Fundamentals of Python Programming</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> and Software Installation </td> </tr>
      <tr> <td>09:30</td>  <td>Data Structures I </td> </tr>
      <tr> <td>10:30</td>  <td>Exercise </td> </tr>
      <tr> <td>11:00</td>  <td>Data Structures II </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Control Structures </td> </tr>
      <tr> <td>14:00</td>  <td>Exercise </td> </tr>
      <tr> <td>14:30</td>  <td>File Handling </td> </tr>
      <tr> <td>13:30</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Data Analysis and Visualization with Python</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Homework Review</td> </tr>
      <tr> <td>9:45</td>  <td>Handling Tabular Data (DataFrames)</td> </tr>
      <tr> <td>11:30</td>  <td>Exercise</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td>Data Visualization </td> </tr>
      <tr> <td>14:00</td>  <td>Exercise</td> </tr>
      <tr> <td>14:30</td>  <td>Statistical and Cluster Analyses</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="col-md-6">
    <h3>Day 3: Unix Shell/Bash Programming </h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Homework Review</td> </tr>
      <tr> <td>9:45</td>  <td>Navigating Files and Folders</td> </tr>
      <tr> <td>10:30</td>  <td>Exercise</td> </tr>
      <tr> <td>11:00</td>  <td>Data Wrangling</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break </td> </tr>
      <tr> <td>13:00</td>  <td>Loops, Conditionals and Shell Scripts</td> </tr>
      <tr> <td>14:00</td>  <td>Exercise</td> </tr>
      <tr> <td>14:30</td>  <td> Installing/Running Programs via Commnand-Line</td></tr> 
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="col-md-6">
    <h3>Day 4: High Performance Computing/Project Management </h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Homework Review</td> </tr>
      <tr> <td>9:45</td>  <td>Introduction to HPC/NERSC </td> </tr>
      <tr> <td>10:30</td>  <td>Exercise</td> </tr>
      <tr> <td>11:00</td>  <td>File Transfer Protocol Client for HPC</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break </td> </tr>
      <tr> <td>13:00</td>  <td>Managing Sofware with Conda</td> </tr>
      <tr> <td>14:00</td>  <td>Exercise</td> </tr>
      <tr> <td>14:30</td>  <td> Version Control with Git</td></tr> 
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
